section.signup {
    display: flex;
    justify-content: center;
    padding: 2em;
}

#sign-up {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.04),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#sign-up > * {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

#myform {
    /* outline: 1px solid red; */
    width: 70%;
    font-size: 15px;
}

#myform input {
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    padding: 0.4em;
}

#myform input:focus {
    color: rgb(75, 74, 74);
    border: none;
    outline: none;
    inset: none;
    background-color: rgb(240, 217, 186);
}

#myform > label {
    margin-top: 1em;
}

.agree {
    padding: 1em 0;
}
.agree label a {
    color: blue;
}

.mybutton {
    text-align: center;
    width: 100%;
}

.mybutton .btn {
    width: 60%;
    padding: 2ch 1ch;
    background-color: #d6702e;
    color: white;
    font-size: 1.2em;
    margin: 1ch 0;
}

.message {
    margin-bottom: 1em;
    color: red;
}

.signup > p {
    display: none;
    margin: 5em auto;
    font-size: 4em;
    color: #d6702e;
}

.titleMessage {
    text-align: center;
    margin-top: 1em;
}
