@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

li.current a {
    color: white;
}

.current button {
    color: blue;
}

.myheader,
footer {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    background-color: gray;
}

.menu ul {
    display: flex;
    gap: 3ch;
}

.header-button {
    display: flex;
    gap: 1em;
}

.header-button button {
    padding: 0 1ch;
}

.products h1 {
    padding: 1em;
}

#products {
    /* outline: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    justify-content: space-around;
    background-color: rgba(224, 222, 222, 0.603);
}

.product {
    /* outline: 1px solid green; */
    flex-basis: 23%;
    margin: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    cursor: pointer;
    min-width: 15em;
}

.product:hover {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.18);
}

.product-imageholder img {
    object-fit: contain;
    height: 15em;
    width: 100%;
}

.title {
    font-size: 1.1em;
    margin-bottom: auto;
    color: #d6702e;
}

.product > p {
    text-align: center;
    font-size: 0.9em;
    padding: 0.5ch 0;
}

.product-description {
    display: none;
}

.product .price {
    font-size: 1.5em;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer .row {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

/* creating css loader  */

#loading {
    width: 4rem;
    height: 4rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: 3em auto;
    display: none;
    animation: spin 1s infinite linear;
}
#loading.display {
    display: block;
}

#error {
    font-size: 2em;
    text-align: center;
    padding: 3em 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    #products,
    .myheader {
        flex-direction: column;
    }

    .myheader {
        gap: 1em;
    }
}
