#users {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    background-color: rgba(224, 222, 222, 0.603);
}

.user {
    flex-basis: 23%;
    background-color: white;
    padding: 1ch;
}

.user span {
    font-size: 1.1em;
    font-weight: bold;
}

.user h2 {
    font-size: 1.2em;
    text-transform: capitalize;
}

.user .address {
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    #users {
        flex-direction: column;
    }
}